<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>carWash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18B803191F1CB0B800B52432</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B803321F1CB0B800B52432</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B8033D1F1CB0B800B52432</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
